@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #474a51;
}

@layer utilities {
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }
    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }
    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }
    .masonry-lg {
      column-gap: 1.5em;
      column-count: 4;
    }
    .break-inside {
      break-inside: avoid;
    }

  }
}
