.paper-container {
  //padding: 24px;
  background-color: #474a51;
  color: white;

  p, h1, h2, h3, h4, h5, h6 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.media-container {
  max-height: 70vh;
  margin: auto;
}

.result-container {
  padding-top: 24px;
}
